.table-header {
    background-color: #606c3883;
}

.table-header:hover {
    background-color: #606c3883;
}

table {
    width: 100%;
    border-spacing: 0; 
    margin-top: 20px;
    border: 1px solid  #606c3883; 
    border-radius: 5px;
    overflow: hidden; 
}

th, td {
    padding: 10px;
}

th {
    border: 1px solid  #606c3883;
}

td {
    padding: 5px;
    text-align: center;
    border: 1px solid  #606c3883;
}

tr:hover {
    background-color: #606c383d;
}

.no-data{
    text-align: center;
    margin-top: 20px;
}

.display-analysis{
    text-align: center;
}

.display-controls{
    display: flex;
    align-items: center;
    gap: 10px;
}

.display-r-select{
    width: 30vw;
}