.register-form, .reg-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40vw;
    margin-bottom: 10px;
}

.submit-button{
  margin-top: 14px;
    align-self: center;
    justify-self: start;
}

.reg-form .column {
    width: 100%;
    margin-top: 10px;
}

.reg-form .column select{
  width: 100%;
  gap: 10px;
  color: hsl(0, 0%, 50%);
  font-weight: normal;
}

/* .team-checkbox{
  margin: 10px 0;
} */

.add-btn{
  background-color: #2D6C30;
  border-radius: 5px;
  width: 90%;
}

.css-13cymwt-control{
  margin-bottom: 0;
}

.register-form h2{
  margin: 0;
  margin-top: 16px;
}

.reg-form input {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-top: 2px;
}

.create-btn{
  margin-top: 10px;  
  color: white;
  font-size: 14px;
}

input[type="checkbox"] {
  accent-color: var(--green-main);
}

.error-form{
  font-size: 12px;
  margin-top: 5px;
  color: darkred;
}

.css-b62m3t-container{
  margin-top: 2px;
}

.register-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form .close-button{
  align-self: flex-end;
  margin-top: 10px;
  margin-bottom: -10px;
}

.my-data-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
  justify-content: center;
  margin: 0 auto;
}

.my-data-cont .detail-item{
  width: 100%;
}