.register-form, .reg-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 40vw;
}

.submit-button{
    align-self: center;
    justify-self: start;
}

.reg-form .column {
    width: 100%;
    gap: 10px;
}

.reg-form .column select{
  width: 100%;
  gap: 10px;
  color: hsl(0, 0%, 50%);
  font-weight: normal;
}

.team-checkbox{
  margin: 10px 0;
}

.add-btn{
  background-color: #2D6C30;
  border-radius: 5px;
  width: 90%;
}