.analysis-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  border: var(--green-main) 1px solid;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  transition: background-color 0.5s ease; /* Плавный переход цвета фона */
}

.a-ul {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 20px;
}

.analysis-header {
  font-weight: 700;
  color: var(--black);
}

.analisys-name {
  font-weight: bold;
  color: var(--black);
  font-size: 24px;
  padding-bottom: 16px;
}

.analisys-date {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}

.analysis-res-div {
  height: 50px;
  background: white;
  border-radius: 14px;
  color: var(--green-main);
  border: var(--green-main) 1px solid;
  padding: 0px 40px;
  font-family: "Montserrat", sans-serif;
  font-size: larger;
}

.analysis-res-div p {
  text-align: center;
}

.analysis-assigned {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: var(--black);
  margin-top: 6px;
}

.analysis-details {
  border: var(--green-light) 1px solid;
  border-top: none;
  border-bottom-left-radius: 20px; /* Радиус только для левого нижнего угла */
  border-bottom-right-radius: 20px; /* Радиус только для правого нижнего угла */
  border-top-left-radius: 0; /* Убираем радиус сверху */
  border-top-right-radius: 0; /* Убираем радиус сверху */
  margin-bottom: 10px;
}

.details-more {
  padding: 5px;
  padding-left: 20px;
  margin-top: -30px;
  padding-top: 30px;
}

/* .analysis-list:active{
    background-color: #AFB59B;
} */

.analysis-list:has(.analysis-res-div.active) {
  background-color: #afb59b;
  transition: background-color 0.5s ease; /* Плавный переход цвета фона */
}

.analysis-res-div.active {
  background-color: #afb59b; /* Цвет кнопки */
  color: white;
  border-color: white;
}

@media (max-width: 768px) {
  .controls,
  .search-input,
  .search-bar,
  .assigned-table {
    font-size: small !important;
  }

  .controls {
    flex-wrap: wrap;
  }

  .assigned-table th,
  .assigned-table td {
    padding: 2px !important;
  }
}

@media (max-width: 533px) {
  .analisys-name {
    font-size: 20px;
    padding-bottom: 6px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}

@media (max-width: 495px) {
  .analisys-name {
    font-size: 18px;
  }

  .analisys-date {
    font-size: 14px;
  }
}


@media (max-width: 400px) {
  .analysis-list{
    flex-direction: column;
  }
  .analisys-name {
    font-size: 18px;
  }

  .analisys-date {
    font-size: 14px;
  }

  .analysis-list {
    padding: 5px;
  }
  
  .submit-analysis-button, .analysis-res-div{
    width: 60%;
    margin-top: 10px;
  }

  .analysis-text{
    text-align: center;
  }
  
}
